<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>hyper-channel</title>

        <script
            src="https://unpkg.com/htmx.org@1.9.2"
            integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
            crossorigin="anonymous"
        ></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.0/dist/cdn.min.js"
        ></script>
    </head>

    <body>
        <h1>Lay out</h1>
		
		<h2>Example</h2>
		<h3>http://localhost:50010/managers/339530/chats/all/100/desc/2024-11-26</h3>
		
    </body>
</html>

